useDynLib("glmnet")
importFrom(utils,head,tail,packageDescription)
export(glmnet,
       cv.glmnet,
       cv.elnet,cv.lognet,cv.multnet,cv.fishnet,cv.coxnet,getmin,auc,auc.mat,cvcompute,coxnet.deviance,
       lambda.interp,response.coxnet,rmult,glmnet_softmax,na.mean,
       predict.elnet,predict.lognet,predict.fishnet,predict.multnet,predict.coxnet,nonzeroCoef,plotCoef,jerr,jerr.elnet,jerr.lognet,jerr.fishnet,jerr.coxnet,elnet,lognet,fishnet,coxnet,getcoef,getcoef.multinomial)

S3method("print","glmnet")
S3method("plot","glmnet")
S3method("plot","multnet")
S3method("predict","glmnet")
S3method("coef","glmnet")
S3method("coef","cv.glmnet")
S3method("predict","cv.glmnet")
S3method("plot","cv.glmnet")
S3method("deviance","glmnet")




