useDynLib("glmnet")
import("Matrix")
export(glmnet,
       cv.glmnet,
       predict.elnet,predict.lognet,predict.multnet,nonzeroCoef,plotCoef,jerr)

S3method("print","glmnet")
S3method("plot","glmnet")
S3method("predict","glmnet")
S3method("coef","glmnet")
S3method("plot","cv.glmnet")




